/* CART */
.cart-qty {
	float:left;
}

.cart-price {
	float: right;
	padding-right: 40px;

}

.cart-img {
	width: 65px;
	height: auto;
	margin-top: -24px;
	margin-right: -16px;
}

.cart-item-name {
	position: relative;
	top: -7px;
	margin-left: 35px;
	font-weight: bold;
}

.cart-btn {
	position: absolute;
	right: 54px;
	padding: 4px 7px;
	margin-top: -2px;
	background-color: #fff;
	color: #DE7472;
	border: none;
	box-shadow: 1px 1px 3px;
	outline:none;

}

.cart-btn:hover {
	background-color: #DE7472;
	color: #fff;
	outline:none;

}

.cart-btn:active {
	background-color: #222;
	color: #fff;
	outline:none;

}

/* .cart-item:hover {
	background-color: #ddd;
	transition-duration: .25s;
} */

.cart-item-wrapper {
	border-bottom: 1px solid #ddd;
}

.cart-item-wrapper:hover {
	background-color: #ddd;
	transition-duration: .25s;
	/* width: 100%; */
}

.cart-total {
	position: absolute;
	right: 55px;
	bottom: 50px;
	color: #888;
	font-weight: bold;
	float: right;
}

.checkout {
	background-color: #fff;
	border-radius: 4px;
	width: 240px;
	font-size: .85em;
	line-height: 30px;
	padding: 10px;
	text-align: center;
	font-size: .9em;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.checkout:hover {
	background-color: #53E4D5 !important;
	box-shadow: none;
}

.checkout:active {
	background-color: rgba(94, 160, 220, 1);
	box-shadow: none;
}

.cart-item {
	margin-top: 14px;
}

.checkout-link {
	line-height: 100%;
	padding: 10px;
}
