/* CART */
.cart-qty {
	float:left;
}

.cart-price {
	float: right;
	padding-right: 40px;

}

.cart-img {
	width: 65px;
	height: auto;
	margin-top: -24px;
	margin-right: -16px;
}

.cart-item-name {
	position: relative;
	top: -7px;
	margin-left: 35px;
	font-weight: bold;
}

.cart-btn {
	position: absolute;
	right: 54px;
	padding: 4px 7px;
	margin-top: -2px;
	background-color: #fff;
	color: #DE7472;
	border: none;
	box-shadow: 1px 1px 3px;
	outline:none;

}

.cart-btn:hover {
	background-color: #DE7472;
	color: #fff;
	outline:none;

}

.cart-btn:active {
	background-color: #222;
	color: #fff;
	outline:none;

}

/* .cart-item:hover {
	background-color: #ddd;
	transition-duration: .25s;
} */

.cart-item-wrapper {
	border-bottom: 1px solid #ddd;
}

.cart-item-wrapper:hover {
	background-color: #ddd;
	transition-duration: .25s;
	/* width: 100%; */
}

.cart-total {
	position: relative;
	right: 24px;
	top: 9px;
	color: #888;
	font-weight: bold;
	float: right;
}

.checkout {
	padding: 10px;
	border-radius: 4px;
	width: 240px;
	font-size: .85em;
}

.checkout:hover {
	background-color: #53E4D5;
}

.cart-item {
	margin-top: 14px;
}
