.order-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#chkbx {
	position: relative;
	top: 2px;
	display: inline;
	width: 50px;
}


.creditcards {
	width: 100%;
	text-align: center;
}

.creditcards div {
	width: 30% !important;
	margin-right: 0%;
	color: #777;
	text-align: center;
	line-height: 40px;
}

.creditcards div {
	background-color: #eee;
	display: inline-block;
}

.creditcards div:hover {
	background-color: #ebebeb;
	cursor: pointer;
}

.creditcards div:active {
	background-color: #999;
}

.creditcards div:nth-child(2) {
	margin: 0 5% 0 5%;
}

.creditcards div.selected {
	background-color: #53E4D5;
	width: 30%;
	color: #000;
}


.order-page-wrapper {
	margin-top: 200px;
	
}

.order-refresh:hover {
	cursor: pointer;
}

.orders-wrapper {
	width: 80%;
	position: relative;
	padding: 1.5em;
	margin: 0 auto;
	margin-bottom: 150px;
	min-width: 478px;
	max-width: 1280px;
	z-index: 1;
	  
}



.expand {
	margin-bottom: 200px;
}

.order {
	
	display: block;
	width: 100%;
	padding: 1.5em;
	padding-top: .5em;
	padding-bottom: .5em;
	outline: none;
  	left: -24px;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0,0,0,.25);
	height: 70px;
	position: relative;
	color: #333;
	
}

.order-total {

	display: inline-block;
	top: 50%;
	right: 100px;
	transform: translateY(-128%);
	position: absolute;
	
}



.order-number {
	display: inline-block;
	top: 50%;
	transform: translateY(-128%);
	position: absolute;
}

.order-date {
	display: inline-block;
	top: 50%;
	transform: translateY(-128%);
	position: absolute;
	padding-left: 140px;
}

.order-dropdown-arrow {

	display: inline-block;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 20px;
	border-left: 1px solid rgba(0,0,0,.15);
	cursor: pointer;
}

.order-header {
	position: absolute;
	width: 100%;
	top: -100px;
	left: 0px;	
}



.order-header span {
	padding-right: 80px;
	padding-left: 20px;
	color: rgba(0,0,0,.35);
}

.order-header span:nth-of-type(3) {
	float: right;
	margin-right: 40px;
}