a:link {
	text-decoration: none;
	color: #222;
}

.float-me-right {
	float: right;
}

.float-me-left {
	float: left;
}

.sneaker-image-small {
	width: 300px;
	height: auto;
}

.sneaker-image-large {
	width: 60%;
	height: auto;
	margin-top: -100px;
}

.sneaker-image-small:hover {
	width: 300px;
	height: auto;
	background: rgba(0,225,255,.1);
}

.sneaker-wrapper {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.sneaker-card {
	flex: 1;
	flex-basis: 30%;
}

.sneaker-show {
	text-align: center;
	margin: auto;
}

.sneaker-name {
	color: #222;
	padding-left: 50px;
	padding-top: 20px;
}

.brand-logo {
	float: left;
	height: 70px;
	width: auto;
	padding-top: 20px;
	padding-left: 16px;
	opacity: .25;
}

.sneaker-ui {
	width: 60%;
	height: 300px;
	background-color: #fff;
	position: fixed;
	bottom: 0px;
	border: 1px solid #ddd;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left: 50%;
	margin-left: -30%;
	padding: 20px;
}
