a:link {
	text-decoration: none;
	color: #222;
}

.float-me-right {
	float: right;
}

.float-me-left {
	float: left;
}

.sneaker-image-small {
	width: 300px;
	height: auto;
}

.sneaker-image-large {
	width: 70%;
	max-width:1200px;
	min-width: 900px;
	height: auto;
	margin-top: -130px;
}

.push-down {
	margin-top: 60px;
}

.sneaker-image-small:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	transition-duration: .5s;
	background:
}

.sneaker-wrapper {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.sneaker-card {
	flex: 1;
	flex-basis: 30%;
}

.sneaker-show {
	text-align: center;
	margin: auto;
}

.sneaker-name {
	position: absolute;
	top: -10px;
	left: 120px;
	color: #333;
	padding-left: 50px;
	padding-top: 20px;
	font-size: 30px;
}

.brand-logo {
	position: absolute;
	height: 70px;
	width: auto;
	padding-top: 24px;
	padding-left: 24px;
	opacity: 1;
	left: 0px;
	bottom: 20px;
	z-index: 30;
}

.sneaker-ui {
	position: relative;
	width: 100%;
	height: 100px;
	background-image: url("../images/groovepaper.png");
  background-repeat: repeat;
	position: fixed;
	bottom: 0px;
	border: 1px solid #ddd;
	/* border-radius: 10px 10px 0px 0px; */
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left: 50%;
	margin-left: -50%;
	padding: 10px;
	z-index: 60;
}

.brand-corner {
	position: absolute;
	top: 0px;
	right: 0px;
	padding-right: 17px;
	width: 45%;
	min-width: 500px;
	height: 100%;
	/* border-radius: 0px 0px 0px 220px; */
	border-left: 6px solid rgba(94, 160, 220, 1);

	/* background-color: #fff; */
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(40, 73, 97, 1));

	/* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
	z-index: 10;
	opacity: 1;
}

.add-to-cart {
	position: absolute;
	right: 50px;
	top: 34px;
	z-index: 20;
	padding: 20px;
	border-radius: 4px;
	background-color: #53E4D5;
}

.add-to-cart:hover {
	background-color: rgba(255, 255, 255, 1);
	transition-duration: .5s;
}

.qty-comp {
	position: absolute;
	right: 280px;
	top: 10px;
	color: #fff;
	z-index: 20;
}

.size {
	position: absolute;
	right: 330px;
	top: 50px;
	color: #fff;
	z-index: 20;
}

.price {

	color: #fff;
}

.price-section {
	border-right: 1px rgba(255, 255, 255, 0.15) solid;
	height: 80px;
	position: absolute;
	top: 20px;
	left: 20px;
	padding-right:30px;
	z-index: 50;
}

.qty-btnL {
	position: absolute;
	top: 30px;
	background-color: #fff;
	padding: 10px 5px;
	border-radius: 14px 2px 2px 14px;
	font-size: 1em;
	outline: none;
}

.qty-btnR {
	position: absolute;
	top: 30px;
	right: -90px;
	background-color: #fff;
	padding: 10px 5px;
	border-radius: 2px 14px 14px 2px;
	font-size: 1em;
	outline: none;
}

.qty-btnR:active, .qty-btnL:active {
	outline: none;
	opacity: .5;
	color: #fff;
}

.qty-btnR:hover, .qty-btnL:hover {
	background-color: rgba(94, 160, 220, 1);
}

.qty-num {
	position: absolute;
	top: 10px;
	right: -50px;
	font-weight: bold;
	font-size: 1.25em;

}

.qty {
	position: absolute;
	top:38px;
	font-size: .85em;
	right: -58px;
	opacity: .6;
}

.shift {
	margin-right: -4px;
}
