@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

a {
	/* color: rgba(200,80,20); */
}



.search .fa-search {
  position: absolute;
  top: 7px;
  left: 12px;
  font-size: 15px;
	color:#fff;
	z-index: 6;
}


.top-nav {
	width: 100%;
	height: 60px;
	top: 0;
	background-color: rgba(23, 23, 43, .55);
	/* background-color: rgba(199, 199, 209, 0); */
	position: fixed;
	border-bottom: 2px rgba(94, 160, 220, .25) solid;
}

.right-nav {
	height: 62px;
	width: 45%;
	min-width: 500px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: linear-gradient(to right, rgba(94, 160, 220, .15), rgba(94, 160, 220, .45));
	/* background-image: url("../images/carbon_fibre.png");
  background-repeat: repeat; */
	background-color: #000;
	opacity: 1;
	border-left: 6px solid rgba(94, 160, 220, 1);
	border-radius: 85px 0px 0px 0px;
	/* box-shadow: 10px -10px -10px; */
	/* border-bottom: 1px rgba(94, 160, 220, 1) solid; */
}

.categoryWrapper a {
	color: #f9f9f9;
}

.search {

	margin-top: 17px;
	position: relative;
	left: 210px;
}

.search input {
	text-indent: 3px;
	height: 22px;
	width: 22px;
	background-color: rgba(255,255,255,0);
	border: 0px solid rgba(94, 160, 220, 1);
	padding: 4px;
	padding-left: 13px;
	border-radius: 25px;
	color: #222;
	transition-duration: 1.5s;
	position: absolute;
	z-index: 50;
	cursor: pointer;
}

.search input:focus {

	background-color: #fff;
	transition-duration: 1s;
	width: 170px;
	border: 0px solid rgba(94, 160, 220, 1);
	outline:none;
}

::placeholder {
  color: #fff;
  font-size: 15px;

}

.site-logo {
	margin-left: 30px;
	margin-top: -3px;
	color: rgba(134, 200, 260, 1);
	float: left;
	text-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

.category {
	float:left;
	padding-left: 34px;
	font-size: 1em;
	margin-top: 24px;
	font-size: .9em;

}

.rt-nav-icons {
	float:right;
	padding-right: 80px;
	font-size: 1em;
	margin-top: 16px;
	font-size: .9em;
	/* color: #efefef; */
	color: rgba(94, 160, 220, .75);
	z-index: 20;
}


h3.rt-nav-icons {
	position:absolute;
	left: 50px;
	top: 7px;
	display: inline;
}

.rt-nav-icons img {
	width: 30px;
	height: auto;
	opacity: .9;
}

.fix-icon-placement {
	margin-top: -120px;
	margin-left: 100px;
}

.categoryWrapper {
	margin-left: 200px;
	color: #efefef;
}

.log-out {
	color: #efefef;
	font-size: .75em;
	float: right;
	padding-left: 8px;
	margin-top: 2px;

}


/* Dropdown Button */
.dropbtn-user {
	position: absolute;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
	right: 0px;
}

.dropbtn-shopbag {
	position: absolute;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
	right: 70px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-user {
  position: absolute;
	right: 10px;
	top: -16px;
  display: inline-block;
	z-index: 200;
}

.dropdown-shopbag {
	position: absolute;
	right: 10px;
	top: -16px;
  display: inline-block;
	z-index: 200;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 550px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 300;
	right: -10px;
}



/* Links inside the dropdown */
.dropdown-content div, .dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-user .dropdown-content div:hover, .dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-user:hover .dropdown-content {
	position: absolute;
	display: block;
	top: 78px;

}

.dropdown-shopbag:hover .dropdown-content {
	position: absolute;
	display: block;
	top: 78px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-user:hover .dropbtn-user,
.dropdown-shopbag:hover .dropbtn-shopbag{background-color: rgba(94, 160, 220, 1); z-index: 8}

.empty-cart {
	font-size: 1em;
	padding: 8px;
	font-weight: normal;
	font-style: italic;
	opacity: .5;
}
