.top-nav {
	width: 100%;
	height: 60px;
	top: 0;
	/* background-color: rgba(200, 228, 180, 1); */
	background-color: rgba(199, 199, 209, .95);
	position: fixed;
	border-bottom: 2px rgba(94, 160, 220, .25) solid;
}

.right-nav {
	height: 62px;
	width: 400px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("../images/carbon_fibre.png");
  background-repeat: repeat;
	background-color: #000;
	opacity: 1;
	border-left: 2px solid rgba(94, 160, 220, 1);
	/* border-bottom: 1px rgba(94, 160, 220, 1) solid; */
}

.search {
	margin-left: 540px;
	margin-top: 16px;
}

.search input {
	border-radius: 4px;
	height: 22px;
	width: 300px;
	background-color: rgba(255,255,255,.25);
	border: 3px solid rgba(94, 160, 220, 1);
	padding: 4px;
	color: #222;
	transition-duration: 1.5s;
}

.search input:focus {
	background-color: #fff;
	transition-duration: 1.5s;
}

.site-logo {
	margin-left: 30px;
	margin-top: -3px;
	color: rgba(94, 160, 220, 1);
	float: left;
}

.category {
	float:left;
	padding-left: 34px;
	font-size: 1em;
	margin-top: 24px;
	font-size: .9em;

}

.rt-nav-icons {
	float:right;
	padding-right: 70px;
	font-size: 1em;
	margin-top: 24px;
	font-size: .9em;
	/* color: #efefef; */
	color: rgba(94, 160, 220, 1);

}

.categoryWrapper {
	margin-left: 200px;
	color: #efefef;
}
